<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="style/homestyle.css">
        <title>Document</title>
</head>
<body>
    <nav>
        <div class="container">
            <a href="/"><h2>SERAT</h2></a>
            <div class="menu" data-menu=0 tabindex="-1">
                <img src="img/overflow-menu-horizontal.svg" alt="">
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1 class="judul">TEMUKAN PESAN UNTUKMU DARI BANYAK ORANG</h1>
            <form action="/message">
                <input type="text" name='name' placeholder="Ketikkan nama kamu">
            </form>
            <p>atau</p>
            <h3>Buat Pesan untuk seseorang</h3>
            <a href='/send' class="button">Buat Pesan</a>
        </div>
    </main>
<script src="script/script.js"></script>
<script src="script/homescript.js"></script>
<script>
 


</script>
</body>
</html>