<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/makestyle.css">
    <title>Document</title>

</head>
<body>
    <nav>
        <div class="container">
            <a href="/"><h2>SERAT</h2></a>
            <div class="menu" data-menu=0 tabindex="-1">
                <img src="img/overflow-menu-horizontal.svg" alt="">
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
           <div class="title">
               <img src="img/send-alt.svg" alt="">
               <h3>BUAT PESAN UNTUK SESEORANG</h3>
           </div>
           <form action="/send" method="POST">
                <input type="text" name='receiver' placeholder="Pesannya untuk siapa nich..." required autocomplete='off'>
                <input type="text" name='title' placeholder="Judul pesannya (opsional sih)" autocomplete='off' maxlength="30" >
                <textarea name="message" rows="10" placeholder='Pesannya apa...' required autocomplete='off'></textarea>

                <input type="submit" class='button' value="Kirim pesan" >
           </form>
        </div>



    </main>
    <script src="script/script.js"></script>
    <script src="script/makescript.js"></script>
</body>
</html>