nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
main{
    margin-top: 25px;
}
article{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    gap: 25px 25px;
}


.empty{
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 500px;
    /* border: 1px solid saddlebrown; */
}

.empty img{
    width: 90px;
    margin-right:30px;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.363);
    position: fixed;
    top:0;
    transition: 4s;

}
.modal{
    position: fixed;
    margin: 80px auto;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;

    width: 650px;
    height: 200px;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
    overflow-y: hidden ;
    transition:  500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation: munculdariatas 300ms ;
}
.modal .atas{
    padding: 0 20px;
}
.modal .bawah{
    padding: 10px 20px;
    overflow: overlay;
    height: calc(100% - 50px);

}
.modal img{
  cursor: pointer;
}

@media screen and (max-width: 655px) {
    .modal{
        width: 100% !important;
        bottom: 0 ;
        animation: munculdaribawah 300ms ;
        height: 80vh ;
        max-height: 80vh ;
        top:auto;
        margin: 0 ;
        border-radius: 5px 5px 0 0;

    }

}
.modal b:empty:before , .modal p:empty:before {
    content:attr(data-placeholder);
    color:gray
  }