 nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 }

 main{
    margin-top: 25px;
}
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form input[type=text]{
    max-width: 350px;
}
form textarea{
    width: 100%;
    resize: none;
}
form input[type=submit]{
    align-self: flex-end;
}

