nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 }

main{
    margin-top: 80px;
}
article aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
article h3{
    margin: 20px 0;
}
article aside img{
    width: 100px;
}
article section{
    width: 55%;
    height: 350px;
    margin-right: 30px;
    margin-bottom: 0;
    overflow-y: auto;
}


@media screen and (max-width: 655px) {
    article{
        flex-direction: column-reverse;
    }
    article section{
        margin-top: 40px;
        width: 100%;
        margin-right: 0 !important;
    }

}