*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-size: 14px;
    color: #3D4165;
}
body{
    background-color: #F9F9F9;
    position: relative;
    overflow-y: overlay;
}



.container{
    max-width: 1088px;
    padding: 0 20px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1{
    font-size: 28px ;
    font-weight: 700;
}
h2{
    font-size: 25px ;
    font-weight: 600;
    color:#004C50;
}
h3{
    font-size: 18px ;
    font-weight: 700;
}
input[type=text]{
    margin-bottom: 15px;
    display: block;
    height: 40px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

textarea{
    margin-bottom: 15px;
    display: block;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.button{
    padding: 0 20px ;
    height: 35px;
    line-height: 35px;
    width: max-content;
    outline: none;
    border: none;
    background-color:#189CCB ;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    display: block;
    margin: inherit;
}

.button-soft{
    padding: 0 20px ;
    height: 35px;
    display: block;
    line-height: 35px;
    width: max-content;
    outline: none;
    border: none;
    background-color: #e3ffe7 ;
    color: #3D4165;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
}
.flex>* , .flex-between >*{
    margin-right: 20px;
}
.flex > *:last-child , .flex-between > *:last-child{
    margin-right: 0;
}

nav{
    width: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    z-index: 1000;
}
nav .container{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100%;
}
nav .menu{
    background-color: rgba(255, 245, 238, 0);
    cursor: pointer;
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main{
    padding-bottom: 50px;
}

.title{
    display: flex;
    align-items: center;    
}
.title img{
    width: 25px;
    margin-right: 15px;
}
main .container .flex-between p{
    text-transform: capitalize;
}


article section{
    width: 100%;
    height: 180px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    overflow: hidden;

}
article section .atas , .modal .atas{
    padding: 0 15px;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:1px solid saddlebrown; */
    background-color: #E2FEE7;
}
article section b , .modal b{
    font-weight: 600 !important;
    text-transform: capitalize;
}
article section img{
    width: 14px;
    cursor: pointer;
}
article .bawah {
    padding: 10px 15px;
}

@keyframes menumuncul {
    from{
        opacity: 0.5;
        transform: translate(30% , -30%) scale(0.8)
    }
    to{
        opacity: 1;
        transform: translate(0, 0) scale(1)
    }
}
@keyframes munculdariatas {
    from{
        opacity: 0;
        transform: translateY(-150%)  scale(0.8)
    }
    to{
        opacity: 1;
        transform: translateY(0)  scale(1)
    }
}

@keyframes munculdaribawah {
    from{
        transform: translateY(100%) 
    }
    to{
        transform: translateY(0) 
    }
}

@keyframes zoom-in-up {
    from{
        opacity: 0;
        transform: scale(0.95) translateY(40px)
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}
@keyframes zoom-in-right {
    from{
        opacity: 0;
        transform: scale(0.95) translateX(-70px)
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}
@keyframes rotate-zoom{
    from{
        opacity: 0;
        transform: scale(0) rotate(360deg) scale(0) translateY(40px)
    }
    to{
        opacity: 1;
        transform: scale(1) rotate(0deg) scale(1) translateY(0)
    }
}

.menubox{
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    top:60px;
    right: 0;
    width: 150px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 250ms;
    z-index: 10000000000;
    animation : menumuncul 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28) both ;
}

.menubox a{
    margin-top: 5px;
    display: block;
    padding: 2px 5px;
}
.menubox a:hover{
    border-radius: 2px;
    background-color: #d9e7ff
}
.menubox a:first-child{
    display: block;
    border-top: none;
    margin-top: 0
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
    background-color:  #aac5f3;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}
  